
.about{
    position: relative;
    width: 100%;
    flex: 1;
    overflow: hidden;
    transition-property: transform;
    transform: translateY(-100dvh);
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
    transition-delay: var(--transition-delay);
    z-index: 1;
    max-height: calc(100dvh - var(--header-height));
    top: 0;
    width: 100dvw;
    z-index: 2;
    background-color: var(--color-b-2);
    position: absolute;
}
.about.init{
    visibility:hidden;
}
.about.open{
    display: flex;
    transform: translateY(0%);
    top: var(--header-height);
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--margin-md);
}

.about__inner{
    padding: var(--margin-sm);
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: var(--margin-md);
}

.about{
    font-family: "Newsreader";
    font-size: var(--fs-huge);
    line-height: var(--lh-huge);
}

.about__description{
    display: grid;
    align-items: flex-start;
    position: sticky;
    top: 0
}

.about__list{
    flex-direction: column;
    display: flex;    
    z-index: 10;
    /* min-height: calc(1 * (100dvh - var(--header-height))); */
}


@media (min-width: 700px) {

    .about__inner{
        display: grid;
        grid-gap: var(--margin-md);
        grid-template-columns: repeat(2, minmax(0, 1fr));
        align-items: flex-start;
    }

    .about__description{
        /* grid-column: 1/3; */
    }

    .about__list{
        top: 0;
    }

}