.documents{
    display: flex;
    flex-direction: column;
    gap: var(--margin-sm);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: var(--margin-sm);
}

.documents--oneImage img{
    grid-column: 1/3;
}

.document{
    width: 100%;
}

.document--thumbnail {
    background-color: var(--color-a);
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 3 / 2;
    text-align: center;
}

.document--thumbnail h3{
    padding: var(--margin-sm) !important;
}

.documents a, .documents figcaption {
    text-decoration: none !important;
    color: var(--color-text);
}

.document--zoomable{
    cursor: pointer;
}

.document__inner{
    height: 0;
    padding-bottom: 66.67%;
    width: 100%;
    position: relative;
}

.document__inner img {
    position: absolute;
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.document__inner .document__image--portrait, .document__inner .document__image--square {
    object-fit: contain;
    object-position: top left;
}

figure{
    display: flex;
    flex-direction: column;
    row-gap: var(--margin-sm);
}

.article__document .article__title{
    display: flex;
    justify-content: space-between;
    gap: var(--margin-md);
    position: sticky;
    top: 0;
}

article > .document__container:not(.hidden){
    flex: 0 0 100%;
    overflow: hidden;
    height: calc(100dvh - var(--header-height));
}

.article__document{
    width: 100%;
}

.document__container .article__document{
    scrollbar-width: none;
    overflow: auto;
    position: relative;
    overscroll-behavior: none;
}

.document__container.hidden{
    display: none;
    width: 0;
    height: 0;
}

.article__title__inner--document{
    display: flex;
    column-gap: var(--margin-sm);
    flex-wrap: wrap;
    align-items: baseline;
    width: 100%;
}

.article__title__close{
    cursor: pointer;
}

.article__document .audio__inner, .article__document .article__title, .article__document .article__link__container, .article__document .article__pdf__button{
    background-color: var(--color-a-1)
}

.article--documentOpening{
    overflow: visible !important;
}

.article--documentOpened .article__inner{
    overflow: hidden !important;
    opacity: 0.7 !important;
}

.article--documentOpened{
    height: calc(100dvh - (var(--header-height))) !important;
    overflow-x: hidden !important
}


.article__pdf{
    overflow: hidden;
    width: 100%;
    row-gap: var(--margin-md);
}

.article__pdf__viewer{
    width: 100%;
}

.article__pdf__viewer iframe{
    height: 75dvh;
}

.article__pdf__button{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
}

@media (min-width: 700px) {

    .article__title__inner--document{
        flex-wrap: nowrap;
    }

    .document__container{
        min-height: calc(100dvh - (var(--header-height)));
    }

    .documents--oneImage .document{
        grid-column: 1/3;
    }

    .article__pdf__viewer{
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-gap: var(--margin-lg); 
    }

    .article__pdf__viewer iframe{
        grid-column: 1/4;
    }

    .carousel figure{
        padding: var(--margin-md);
    }

    article > .document__container:not(.hidden){
        flex: 0 0 50%;
    }

    .article--documentOpened .article__title{
        display: flex;
        gap: var(--margin-sm);
    }

    .carousel__close{
        position: relative;
        top: unset;
        right: unset;
        width: 100%;
    }
}

@media (min-width: 1200px) {

    .documents{
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-gap: var(--margin-sm);
        grid-auto-rows: max-content;
    }

}