article, .document__container{
    position: relative;
    width: 100%;
    display: inline-flex;
    flex-flow: row nowrap;
}

article.open, .document__container{
    min-height: calc(100dvh - (var(--header-height)));
    padding-bottom: 0;
}

article > .article__inner{
    flex: 0 0 auto;
}

article{
    overflow: hidden;
    margin-bottom: calc(var(--margin-sm)/4);
}

.article__inner{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#content:not(.articlesClosed) article:not(.open):not(.homepage){
    display: none
}

article:not(.open):not(.homepage) .article__main{
    display: none
}

article.open:not(.article--documentOpened){
    height: unset;
    min-height: unset;
    overflow-y: unset;
    overflow-x: visible;
}

.article__col{
    display: flex;
    flex-direction: column;
    gap: var(--margin-md);
    align-items: self-start;
    width: 100%;
    margin-top: var(--margin-sm);
}

article.open .article__title{
    margin-bottom: var(--margin-sm);
    z-index: 2;
}

.article__inner .article__col:first-child:nth-child(2){
    margin-top: var(--margin-md);
}

.article__main{
    padding: var(--padding-article);
    /* padding-bottom: var(--margin-sm); */
}

.article__title{
    display: flex;
    column-gap: var(--margin-sm);
    flex-wrap: wrap;
    z-index: 10;
    cursor: pointer;
    align-items: baseline;
    line-height: var(--lh-big);
    position: sticky;
    top: 0px;
}

.article__title__col{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    column-gap: var(--margin-sm);
    width: 100%;
}

.article__title__category{
    font-size: var(--fs-middle);
    line-height: var(--fs-middle);
    text-transform: lowercase;
    font-family: "Selectric";
    font-size: var(--fs-main);
    text-align: right;
}

.article__buttons{
    display: flex;
    flex-wrap: nowrap;
    column-gap: calc(var(--margin-sm) / 2);
}
.article__button--remove, .document__button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}
.article__button--remove svg, .document__button svg{
    height: 1.9rem;
    padding-bottom: 1px;
}
.article__button{height: var(--lh-big);user-select: none;}
.article__button--open{display: none}
article.open .article__button--close{display: none}
article.open .article__button--open{display: flex;}
.article--documentOpened .article__inner .article__button{display: none !important}

.article__title__infos{
    display: flex;
    justify-content: space-between;
}

.article__main, .documents, .article__col__group, .article__pdf{
    display: flex;
    flex-direction: column;
    row-gap: var(--margin-sm);
    column-gap: var(--margin-md);
    align-items: flex-start;
}

.article__inner .article__main{
    flex-direction: column-reverse;
}

.article__links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--margin-sm);
    align-items: flex-start;
}

.article__description__filters{
    display: flex;
    flex-direction: column;
    gap: 1ch;
    align-items: flex-start;
    margin-bottom: calc(var(--margin-sm)/2);
}

.article__tags{
    display: inline-flex;
    gap: 1ch;
    align-items: flex-start;
}

.article__tag, .article__date{
    background-color: var(--color-b-1);
    /* border: 1px solid var(--color-red-1); */
    padding: var(--padding-smallButton);
    cursor: pointer;
}

.article__description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;
}

.article__col__group{
    width: 100%;
    gap: var(--margin-sm) !important;
}

.article__col__group:not(:first-of-type){
    /* margin-top: var(--margin-sm); */
}    


.article__main .article__col--left{
    padding-bottom: var(--margin-sm);
}

/* .article__description p:not(:first-of-type){
    margin-top: var(--lh-big);
} */

.article__description p{
    max-width: 100%;
}

.article__description__gallery{
    width: 100%;
}

.article__description__gallery--marginTop{
    margin-top: var(--margin-sm);
}

.article__title, .article__description:not(.splide__btn), .article__links, .article__pdf__button{
    font-family: "Newsreader";
    font-size: var(--fs-huge);
    line-height:  var(--lh-huge);
}

.article__title, .article__link__container, .article__pdf__button{
    background-color: var(--color-b-1);
    padding: 9px 9px 3px 9px;
    color: var(--color-c);
    text-decoration: none;
    cursor: pointer;
}

.article__title{
    padding: 7px 9px 6px 9px;

}

.article__link__container{
    display: flex;
    align-items: baseline;
    column-gap: var(--margin-sm);
    background-color: var(--color-b-1);
    box-sizing: border-box;

}

.article__link__container--document{
    background-color: var(--color-b-1);
}

.article__link{
    flex-direction: row;
    display: flex;
    align-items: baseline;
    column-gap: var(--margin-sm);
    flex-wrap: wrap;
    row-gap: calc(var(--margin-sm)/4);
}

.article__link{
    color: var(--color-c);
    text-decoration: none; 
}
 
article:not(.homepage) .article__main, .article__description, .article__description__container{
    min-height: 0;
}

.article__link__type{
    text-transform: lowercase;
    font-family: "Selectric";
    font-size: var(--fs-main);
    line-height: var(--fs-main);
    white-space: nowrap;
}

.sameperiod__button{
    cursor: pointer;
    user-select: none;
    /* padding: var(--padding-smallButton);
    background-color: var(--color-red-1); */   
}

.sameperiod:not(.open){
    display: none;
}

@media (min-width: 700px) {

    .article__title:hover{
        background-color: var(--color-b-2);
    }

    #content:not(.articlesClosed) article:not(.open):not(.homepage){
        display: flex
    }
    
    article{
        min-height: 44.9px;
        height: 44.9px;
        margin-bottom: unset;
    } 

    .article__links{
        z-index: 10;
    }

    .article__title__col{
        align-items: center;
        width: 100%;
    }

    .article__title, .article__link__container, .article__pdf__button{
        padding: 9px 9px 3px 9px;
    }
    
    .article__title h2{
        white-space: nowrap;
    }    

    .article__inner .article__col, .document__container .article__main{
        padding-bottom: var(--lh-big);
    }

    article.open .article__title{
        margin-bottom: unset
    }

    .article__title{
        padding: 9px 9px 4px 9px;
    }

    article {
        overflow: hidden
    }
    
    .article__main{
        padding: var(--padding-article);
        flex-direction: column;
    }

    .article__col{
        margin-top: 0;
    }

    .article__inner .article__col, .document__container .article__col:first-of-type{
        margin-top: var(--margin-md);
        min-height: 0;
    }

    .article__title, .article__main{
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-gap: var(--margin-md);
    }

    .article__title{
        position: sticky;
        top: 0px;
        z-index: 12;
        /* max-height: 44.9px;; */
    }

    .article__title h2{
        white-space: unset;
    }

    .article__inner .article__title__col{
        width: unset
    }

    .article__description__gallery--marginTop{
        margin-top: var(--lh-big);
    }

    .article__document .article__main{
        display: flex;
        flex-direction: column;
        gap: var(--margin-md);
    }

    article.open .article__col--left{
        position: sticky;
        top: calc(var(--margin-md) + var(--lh-big) + 13px);
    }

    .article__description{
        padding-right: var(--margin-sm);
    }

}

