.chronology{
    /* padding: 0 0 var(--margin-sm) 0; */
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: var(--margin-md);
    width: calc(100dvw);
    height: calc(100dvh - (var(--header-height) + var(--margin-sm) * 0))
}

.chronology__scroll{
    display: flex;
    flex-direction: column;
    width: calc(100%);
    gap: var(--margin-lg);
    flex: 1;
    overflow: scroll;
}

.chronology__item{
    /* background-color: var(--color-red-3); */
    padding: var(--margin-md);
    flex: 0 0 75dvh;
}

.chronology__item__inner{
    display: flex;
    flex-direction: column;
    row-gap: var(--margin-sm);
    justify-content: center;
    height: 100%;
}

.chronology__item__title{
    font-size: var(--fs-huge);
    line-height: var(--lh-huge);
    font-family: "Newsreader";
    text-align: center;
}

.chronology__item__top{
    display: flex;
    column-gap: var(--margin-md);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.chronology__item__bottom{
    display: flex;
    justify-content: center;
    /* justify-content: flex-end; */
}

.chronology__item__description{
    font-size: var(--fs-big);
    line-height: var(--lh-big);
    font-family: "Newsreader";
    text-align: center;
}

.chronology__item__tags{
    display: flex;
    column-gap: var(--margin-sm);
    flex-wrap: wrap;
    justify-content: center;
}

.chronology__item__tag{
    text-align: center;
}

.chronology__item__description{
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chronology__range__container{
    display: flex;
    flex-direction: column;
    gap: var(--margin-md);
    padding: 0 var(--margin-md);
    position: fixed;
    width: calc(100dvw - var(--margin-lg));
    bottom: var(--margin-md);
}

.chronology__range__dates{
    display: flex;
    column-gap: var(--margin-md);
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-red-1);
    padding: var(--margin-sm) var(--margin-sm) var(--nav-padding-bottom) var(--margin-sm);
}

.chronology__range__date{
    font-family: "Newsreader";
    font-size: var(--fs-big);
    line-height: var(--fs-big);
    background-color: var(--color-red-1)
}

.chronology__range__date--dynamic{
    white-space: nowrap;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

.chronology__range__date--last{
    text-align: right;
}

@media (min-width: 700px) {
    .chronology__item{
        flex: 0 0 1;
    }
    .chronology__item__description{
        max-width: 75%;
    }

    .chronology__item__top{
        display: flex;
        align-items: center;
        column-gap: var(--margin-md);
        justify-content: center;
        flex-direction: row;
    }

    .chronology__item__tags{
        flex-direction: column;
    }
}


/* Custom html range */

input[type="range"] {
    -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
    
} 

.chronology__range__form{
    display: flex;
}

.chronology__range__form, .chronology__range{
    width: 100%;
    flex:1;
}
  
/*Chrome*/
    input[type='range'] {
      overflow: hidden;
      width: 80px;
      -webkit-appearance: none;
        border:none;
        border:0;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: #13bba4;
      margin-top: -1px;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      cursor: ew-resize;
      background: #434343;
      box-shadow: -80px 0 0 80px #43e5f7;
    }


/** FF*/
input[type="range"]::-moz-range-progress {
    background-color: var(--color-red-1);
    height: var(--lh-main);
    border: none;
}
input[type="range"]::-moz-range-track {  
    background-color: var(--color-red-4);
    border: none;

}

/* IE*/
input[type="range"]::-ms-fill-lower {
    background-color: var(--color-red-1);
}
input[type="range"]::-ms-fill-upper {  
    background-color: var(--color-red-3);
}

input[type="range"]::-webkit-slider-runnable-track {
    background: var(--color-red-3);
    height: var(--lh-main) !important;;
}
  
/******** Firefox ********/
input[type="range"]::-moz-range-track {
    height: var(--lh-main) !important;
}