/* 
@font-face {
    font-family: 'Newsreader';
    src: url('font/Newsreader-Medium.woff2') format('woff2'),
        url('font/Newsreader-Medium.woff') format('woff');
} */

@font-face {
    font-family: "Newsreader";
    src: url('font/Newsreader-Medium.woff') format('woff');
}

/* 
@font-face {
    font-family: 'Selectric';
    src: url('font/LTInstitute-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
} */

@font-face {
    font-family: 'Selectric';
    src: url('font/IBMPlexMono-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
} 
