.splide__btns{
    display: flex;
    gap: var(--margin-sm);
    width: 100%;
    justify-content: flex-end;
    cursor: pointer;
}

.gallery{
    display: flex;
    flex-direction: column;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 0;
}

.gallery__item{
    display: flex;
    justify-content: end;
    align-items: end;
}

.gallery__item--zoomable{
    cursor: pointer;
}

.gallery__item__inner{
    height: 0;
    padding-bottom: 66.67%;
    width: 100%;
    position: relative;
}

.gallery__item--portrait .gallery__item__inner{
    padding-bottom: 150%;
}

.gallery__item img {
    position: absolute;
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.gallery--oneImage img{
    grid-column: 1/3;
}

.gallery{
    width: 100%;
}

.document--zoomable{
    cursor: pointer;
}

@media (min-width: 700px) {
    .splide__btns{
        flex-direction: column;
        justify-content: flex-start;
        row-gap: 0;
        user-select: none;

    }

    .article__description__gallery .gallery{
        grid-column: 1/5;
        align-items: flex-start;
    }
    
    .gallery .splide__track, .article__pdf__image img, .gallery img{
        grid-column: 1/4;
    }

}

@media (min-width: 1200px) {

    .gallery{
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-auto-rows: max-content;
    }
}