.homepage{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--margin-md);
    padding: var(--margin-sm);
    color:var(--color-b-3);
}

.homepage__description{
    display: grid;
    align-items: flex-start;
}

.homepage__documents{
    flex-direction: column;
    display: flex;    
    z-index: 10;
    min-height: calc(1 * (100dvh - var(--header-height)));
}

.homepage__documents__inner{
    display: flex;
    flex-direction: column;
    row-gap: var(--margin-sm);
}


.homepage__document{
    display: flex;
    flex-direction: column;
    row-gap: var(--margin-sm);
}

.homepage__documents a{
    text-decoration: none !important;
    color: var(--color-c);
    width: 100%;
}

.homepage__document figure{
    /* background-color: var(--color-red-1); */
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.homepage__document figcaption{
    position: absolute;
    background-color: var(--color-a);
    color:var(--color-c);
    padding: var(--margin-sm);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: var(--margin-md);
    font-size:var(--fs-big);
    line-height:var(--lg-big);
    text-align: center;
    bottom:0;
}

.homepage .document--thumbnail{
    background-color: var(--color-a-1) !important;
}

.homepage{
    font-family: "Newsreader";
    font-size: var(--fs-huge);
    line-height: var(--lh-huge);
}


.homepage__description .citation{
    /* font-size: var(--fs-middle);
    line-height: var(--lh-middle); */
    color:var(--color-a-3);
}

/* .homepage__description p:not(:last-child){
    margin-bottom: var(--lh-huge);
} */


@media (min-width: 700px) {

    .homepage{
        display: grid;
        grid-gap: var(--margin-md);
        grid-template-columns: repeat(4, minmax(0, 1fr));
        padding: var(--padding-article);
    }

    .homepage__description{
        grid-column: 1/4;
        top: var(--margin-sm);
        max-height: calc(100dvh - var(--header-height) - var(--margin-sm));
        overflow: auto;
        padding-bottom: var(--margin-sm);
    }

    .homepage__documents{
        grid-column: 4/5;
        position: relative;
        padding-right: 0;
        padding-left: 0;
    }

    /* .homepage__documents, .homepage__documents__inner, .homepage__document{
        min-height: calc(1 * (100dvh - (var(--header-height) + var(--margin-sm))));
    } */

    .homepage__document{
        justify-content: space-between;
    }

    .homepage__description, .homepage, .homepage__documents__inner{
        scrollbar-width: none;
    }
    
    .homepage__description::-webkit-scrollbar, .homepage::-webkit-scrollbar, .homepage__documents__inner::-webkit-scrollbar {
        display: none;
    }

    .homepage__documents__inner{
        display: flex;
        flex-direction: column;
        padding-bottom: var(--margin-sm)
    }

    .homepage__document{
        display: flex;
        flex: 0 0 calc(25% - var(--margin-sm));
    }

    .document{
        width: 100%;
    }
    
    /* .homepage__documents__inner{
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-gap: var(--margin-md);
    } */
}