.index__container{
    flex-direction: column;
    gap: var(--margin-md);
    padding: var(--margin-sm);
}

.index{
    display: flex;
    flex-wrap: wrap;
    gap: var(--margin-sm);
}

.index__filters{
}

.index__item{
    padding: var(--nav-padding-top) var(--margin-sm) var(--nav-padding-bottom) var(--margin-sm);
    background-color: var(--color-b-1)
}

.index__item.hidden{
    display: none;
}

.index__filters__container{
    display: flex;
    flex-direction: column;
    gap: var(--margin-sm);
}

.index__filters{
    display: flex;
    column-gap: calc(var(--margin-sm) / 2);
    flex-wrap: wrap;
    row-gap: calc(var(--margin-sm) / 2);
}

.index__filters--tags{
    grid-column: 2/4;
}

.index__filters--years{
    grid-column: 1/5;
}

.index__filter{
    cursor: pointer;
}

.index__filter{
    border: 1px solid var(--color-b-2);
    padding: var(--padding-smallButton);
}

.index__filter.active, .index__filter.hightlighted{
    background-color: var(--color-b-2);
    border: 1px solid var(--color-b-2);
}

.index__filters__title{
    width: 100%;
    background-color: var(--color-b-2);
    padding: var(--padding-smallButton);
    margin-bottom: calc(var(--margin-sm) / 2);
}

@media (min-width: 700px) {
    .index__item:hover{
        background-color: var(--color-b-2);  
    }

    .index__filter:hover{
        background-color: var(--color-b-2);
        border: 1px solid var(--color-b-2);
    }
    
    .index__filters__container{
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        align-items: flex-start;
        gap: var(--margin-sm);
        margin-top: 0;
    }
}
