:root{
    /* --color-b: #ffe8d2;
    --color-article: #ff4242; */

    --color-a-1:#AFA258;
    --color-a-3: #A0986B;
    
    /* --color-b-1:#99A8FF; */
    --color-b-1:#74AAD8;
    --color-b-2:#6194c3;
    --color-b-3: #2985D3;

    --color-c:black;/*this one is for the text on colored background*/

    --color-a:#998D49;
    --color-b:#0069CA;
    --color-green-1: #998D49;
    --color-green-2: #ddd296;
    --color-green-3: #ECE8C4;
    --color-red-1: #e23232;
    --color-red-2: #f3f2ea;
    --color-red-3: #F4DFC3;
    --color-red-4: #ff8c7c;
    --base-space: 9px;
    --margin-sm: calc(var(--base-space)*1);
    --margin-md: calc(var(--base-space)*2);
    --margin-lg: calc(var(--base-space)*4);
    --mq-sm: 576px;
    --lightgrey: #F4F4F4;
    --color-text: black;
    --grey: lightgrey;
    --header-height:calc((var(--lh-main) + var(--nav-padding-bottom) + var(--nav-padding-top)));
    --padding-article: 0px var(--margin-sm) 0px var(--margin-sm);
    --padding-smallButton: 2px 4px 2px 4px;
    --nav-padding-top: 6px;
    --nav-padding-bottom: 4px;
    --transition-duration: 0.6s;
    --transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    --transition-delay: 0s;
    --fs-main: 1rem;
    --lh-main: 1.2rem;
    --fs-big: 1.5rem;
    --lh-big: 1.7rem;
    --fs-huge: calc(var(--fs-big) * 1);
    --lh-huge: calc(var(--lh-big) * 1);
    --fs-homepage: calc(var(--fs-big) * 1);
    --lh-homepage: calc(var(--lh-big) * 1);
    --padding-nav: var(--nav-padding-top) var(--margin-sm) var(--nav-padding-bottom) var(--margin-sm);
}

@media (min-width: 1300px) {
    :root {
        --fs-middle: calc(var(--fs-main) * 1.2);
        --lh-middle: calc(var(--lh-main) * 1.2);
        --fs-big: 2rem;
        --lh-big: 2.3rem;
        --fs-huge: calc(var(--fs-big) * 1.2);
        --lh-huge: calc(var(--lh-big) * 1.2);
        --fs-homepage: calc(var(--fs-big) * 1.5);
        --lh-homepage: calc(var(--lh-big) * 1.5);
    }
}

@media (min-width: 1650px) {
    :root {
        --fs-middle: calc(var(--fs-main) * 1.5);
        --lh-middle: calc(var(--lh-main) * 1.5);
        --fs-big: 2.5rem;
        --lh-big: 2.9rem;
        --fs-huge: calc(var(--fs-big) * 1);
        --lh-huge: calc(var(--lh-big) * 1);
        --fs-homepage: calc(var(--fs-big) * 1.5);
        --lh-homepage: calc(var(--lh-big) * 1.5);
    }
}

/* color green #4d8469 */

html{
    font-size:11px;
    overflow: hidden;
}

body{
    font-size: var(--fs-main);
    line-height: var(--lh-main);
    margin: 0;
    font-family: "Selectric";
}

img{
    width: 100%;
}

h2{
    font-size: var(--fs-big);
    line-height: var(--lh-big);
}

#content{
    display: flex;
    flex-direction: column;
    height: calc(100dvh - var(--header-height));
    margin-top: var(--header-height);
    overflow: auto;
    overflow-x: hidden;
    position: relative;
}

@media (min-width: 700px) {
    #content{
        row-gap: calc(var(--margin-sm)/3);
    }
}

.content--documentOpened{
    overflow: hidden !important
}

body.body--audioPlaying #content{
    margin-top: calc(var(--header-height) * 3);
    scroll-margin-top: calc(var(--header-height) * 3);
    height: calc(100dvh - var(--header-height) * 2);
}

section{
    width: calc(100dvw);
    scroll-snap-align: start;
    position: relative;
    scroll-margin: var(--margin-sm);
    overflow: auto;
    height: calc(100dvh - var(--header-height));
    overscroll-behavior-y: none;
    background-color: var(--color-red-2);
}


.js-pchar{
    display:inline-block;
    font-family:Selectric;
    position:relative;
    color:var(--color-a-3);
}