#main-nav .menus a{
    color: var(--color-c);
    text-decoration: none;
}

#main-nav a{
    color:black;
    text-decoration: none;
}

#main-nav{
    display: flex;
    align-items: baseline;
    column-gap: var(--margin-sm);
    font-family: 'Selectric';
    flex-direction: column;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100 !important;
    height: var(--header-height);
}

#main-nav.open{
    height: 100dvh;
    /* background-color: var(--color-red-3); */
}

.nav__top{
    height: var(--header-height);
    box-sizing: border-box;
    width: calc(100%);
    column-gap: var(--margin-sm);
    justify-content: space-between;
    background-color:white;
    text-transform: uppercase;
}

.nav__col{
    display: flex;
    column-gap: calc(var(--margin-sm)/1);
    flex-wrap: nowrap;
}

.nav__col:nth-child(1), .nav__col:nth-child(3){
    flex: 1
}

.nav__col:nth-child(3){
    justify-content: flex-end;
}

.nav__top, .nav__button{
    z-index: 12;
}

.nav__submenu{
    background-color: var(--color-red-2);
}

.nav__top, .nav__submenu{
    display: flex;
}

.nav__languages{
    display: flex;
    column-gap: calc(var(--margin-sm) / 2);
    text-transform: uppercase;
}
#main-nav .nav__language__link.disabled{
    color:gray;
}
#main-nav .nav__language__link{
    color: black;
    text-decoration: none;
}

#main-nav .nav__language__link.active, #main-nav .nav__language__link:hover{
    color: black;
    text-decoration:underline;
}

.main-nav > ul {
    display: flex;    
}

.category.active{
    display: flex;
    white-space: nowrap;
}

.category a{
    text-decoration: none;
    color: var(--color-black);
}

#main-nav:not(.open) .category a{
    width: 100%;
}

.nav__button{
    width: 23px;
}

.nav__buttons__tab, .nav__button__open{
    display: flex;
}

.nav__list, .category__submenu.active, .category__submenu__element{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nav__submenus{
    display: none
}


.index__item{
    display: flex;
    font-size: var(--fs-big);
    line-height: var(--lh-big);
    font-family: "Newsreader", serif;
}

.nav__top{
    padding: var(--padding-nav);
}

.nav__button__open, #main-nav.open .nav__button__close{display: none;}
#main-nav.open .nav__button__open{display: flex;}

.hamburger, .hamburger--close, .nav__button__tab{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1px;
    /* padding: var(--nav-padding-top) var(--margin-sm) var(--nav-padding-bottom) var(--margin-sm); */
}

.nav__button__tab.active{
    background-color: var(--color-red-3);
}

.menus{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100dvh;
    flex: 1;
    transition-property: transform;
    transform: translateY(-100dvh);
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
    transition-delay: var(--transition-delay);
    z-index: 1;
    background-color: white !important;
}
#main-nav.init .menus{
    visibility: hidden;
}
#main-nav.open .menus{
    display: flex;
    transform: translateY(0%);
    min-height: calc(100dvh - var(--header-height));
}

.menus__inner{
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: unset;
    flex:1;
    height: calc(100dvh - var(--header-height));
}

.menu{
    display: none;
}

.menu.active{
    display: flex;
    overflow: auto;
}


.category__list, .subcategory__list{
    display: flex;
    flex-direction: column;
}

@media (min-width: 700px) {
    .menus{
        min-height: calc(100dvh - var(--header-height));
    }

    #main-nav.open .menu.nav__list.active{
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-gap: O;
        align-self: start;
    }
}
