.article__sounds, .article__sound{
    display: flex;
    row-gap: var(--margin-sm);
    flex-direction: column;
    width: 100%;
}

.article__sound{
    cursor: pointer;
}

.audio__inner{
    display: flex;
    flex-direction: column;
}

.audio__line{
    display: flex;
    flex-wrap: nowrap;
    gap: var(--margin-sm);
    align-items: center;
    padding: var(--padding-nav);
    height: var(--header-height);
    justify-content: space-between;
}

.audio__line__col{
    display: flex;
    flex-wrap: nowrap;
    gap: var(--margin-sm);
    align-items: center;
}

.audio__line:nth-child(1){
    padding: 9px var(--margin-sm) 1px var(--margin-sm);
}

.audio__line:nth-child(2){
    padding: 4px var(--margin-sm) 6px var(--margin-sm);
}


.audio__title{
    white-space: nowrap;
}

.video__player{
    padding: var(--padding-nav);
}

.audio__player{
   margin-top: var(--header-height);
   height: calc(var(--header-height) * 2);
   background-color: var(--color-green-2);
   position: fixed;
   top: 0;
   width: 100%;
}

.audio__player.hidden{
    display: none
}

.audio__close{
    cursor: pointer;
}

.video video{
    display: flex;
}

.article__sound{
    row-gap: var(--margin-sm);
}

.video__title, .video__times, .sound__title__container{
    display: flex;
    column-gap: calc(var(--margin-sm) * 1.5);
    flex-wrap: nowrap;
}

.video__title, .article__sound__title{
    overflow: hidden;
}

.video__title p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.video__times, .audio__times{
    column-gap: 0;
    display: flex;
    box-sizing: border-box;
}

.audio__times{  
    /* padding-top: 1px; */
    column-gap: calc(var(--margin-sm)/2);
}

.video__time:first-child:after{
    content: "/";
}

.video__inner, .article__sound{
    display: flex;
    justify-content: space-between;
    column-gap: var(--margin-sm);
    background-color: var(--color-green-1);
    font-family: "Newsreader";
    font-size: var(--fs-big);
    line-height: var(--lh-big);
    padding: 6px 8px 2px 11px;
    overflow: hidden;
}

.video__play, .audio__play, .sound__play{
    all: unset;
    width: 24px;
    display: flex;
    cursor: pointer;
}

.video__play__icon, .sound__play__icon{
    height: var(--lh-big);
}

.audio__play__icon{
    height: var(--lh-main);
}

.video__play__icon.hidden, .audio__play__icon.hidden{
    display: none;
}

.video, .audio{
    display: flex;
    flex-direction: column;
}

.article__videos{
    width: 100%;
}

.video .video__inner, .audio .audio__inner{
    width: unset;
    flex-wrap: wrap;
}

.player__progress__container{
    width: 100%;
    height: var(--lh-main);
    position: relative;
    background-color: var(--color-green-3);
    cursor: pointer;
}  

.audio__player .player__progress__container{
    height: calc(var(--lh-main) - 5px);
    background-color: var(--color-green-3);
    max-height: 100%;
    overflow: hidden;
    /* margin-bottom: 3px; */
}

.player__progress{
    width: 0;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    z-index: 1;
    background-color: var(--color-green-2);
    cursor: pointer;
}

.audio__player .player__progress__container{
    background-color: var(--color-green-3);
}

.audio__player .player__progress{
    background-color: var(--color-green-1);
}

@media (min-width: 700px) {
    .article__videos{
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-gap: var(--margin-sm);
        align-items: flex-start;
    }
    .article__video{
        grid-column: 1/4;
    }
}