.carousel{
    position: fixed;
    top: 0;
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    row-gap: var(--margin-sm);
    z-index: 100;
    background-color: var(--color-red-2);
    padding-top: var(--margin-md);
    box-sizing: border-box;
    align-items: center;
}

.carousel.hidden{
    display: none;
}

.splide{
    flex: 1;
    overflow: hidden;
    width: calc(100%);
    position: relative;
}

.splide__track, .splide__list, .splide__list, .splide__slide{
    height: 100%;
}

.splide__list {
    align-items: flex-start;
}

.splide__slide{
    align-items: center;
    display: flex;
}

.splide__slide img{
    width: 100%;
    max-height: calc(100% - var(--margin-md));
    object-fit: contain;
    max-width: calc(100% - var(--margin-md));
}

.carousel__caption, .carousel__close{
    text-align: center;
    padding: 6px 4px 2px 4px;
}

.carousel figcaption.hidden{
    display: none;
}

.carousel__caption{
    padding: 0 var(--margin-md);
    padding-bottom: var(--margin-sm);
}

.carousel__caption.hidden{
    display: none;
}

.carousel__close{ 
    background-color: var(--color-green-1);
    padding: 6px 4px 4px 4px;
    cursor: pointer;
    position: absolute;
    top: var(--margin-sm);
    right: var(--margin-sm)
} 

@media (min-width: 700px) {
    .carousel__caption{
        padding-bottom: none;
        max-width: 50%;
    } 

    .carousel__close{ 
        width: 100%;
        position: relative;
        top: unset;
        right: unset;
    } 
}