.thumbnail__container{
    height: 100%;
    width: 100%;
}

.thumbnail{
    display: flex;
    flex-direction: column;
    row-gap: calc(var(--margin-sm) / 2);
    width: 100%;
    height: 100%;
}

.thumbnail--noimage{
    width: 100%;
    height: 100%;
}

.thumbnail__text{
    /* padding: 9px 9px 4px 9px; */
    box-sizing: border-box;
    /* background-color: var(--color-green-1); */
}

.thumbnail__image__inner{
    height: 0;
    padding-bottom: 66.67%;
    position: relative;
    background-color: var(--color-a-1);
}


.thumbnail--noimage .thumbnail__image__inner{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: var(--margin-sm); */
}

.thumbnail__image__type{
    position: absolute;
    left: 50%;
    top: calc(50% - var(--lh-main)/2);
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 
.thumbnail--noimage .thumbnail__text__inner{
    height: 0;
    padding-bottom: 75%;
    position: relative;
} */

.thumbnail__image__inner img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}